.bz{
color: antiquewhite;
}
.navbar-toggler {
    background-color:antiquewhite;
}
.nav_text_white{
    color: antiquewhite !important;
}
.navbar {
--bs-navbar-active-color: none!important;
--bs-navbar-color: none!important;
}
.next-prev_color{
    background-color: rgba(51, 49, 49, 0.177);
}
.next-prev_color:hover{
    background-color: rgba(55, 43, 43, 0.588);
}
.icon{
    width: 1.5rem;
}
.icon2{
    width: 2.5rem;
}