.bz{
color: antiquewhite;
}
.navbar-toggler {
    background-color:antiquewhite;
}
.nav_text_white{
    color: antiquewhite !important;
}
.navbar {
--bs-navbar-active-color: none!important;
--bs-navbar-color: none!important;
}
.icon{
    width: 1.5rem;
}
.icon2{
    width: 2.5rem;
}